@media screen and (max-width : 600px) {
    header {
        position: static;
        /* top: 0; */
        background-color: var(--fabc);
        
        color: white;
    }
    .nav {
        display: block;
        /* align-items: center; */
    }
    .lnav {
        width: 100%;
        display: block;
        /* align-items: center; */
        /* justify-content: center; */
        text-align: center;
    }
    .lnav ul {
        display: flex;
        /* text-align: center; */
        /* align-items: center; */
        justify-content: center;
    }
    .rnav {
        display: flex;
        justify-content: center;
        width: 100%;
        

    }
    
}